
article{
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  line-height: 1.5em;
  max-width: 700px;

  padding: 10px;
  margin: auto;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;

  a{
    text-decoration: none;
    color: inherit;
    border-bottom: solid 1px @main-color;
  }
}

article > img{
  display: block;
  margin: auto;
  max-width: 100%;
}

article p>img{
  clear: left;
  max-width: 100%;

  float: left;
  margin-right: 10px;
}