@import "color";

@import "article-base";

// Article style that are not needed for administration
article .article-header h2 a{
  border-bottom: none;
}

article .readmore{
  text-align: right;
}

article .readmore a{
  font-style: italic;
}